/* You can add global styles to this file, and also import other style files */
.footer {
  margin-top: 20px;
  height: 70px;
  align-items: center;
  color: greenyellow;
  background-color: rgb(31, 8, 41);
}
